*{
    padding: 0;
    margin: 0;
}
html body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 75%;
}
.nav{
    background-color: #003135;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-top: 10px;

    
}
#dashLogo{
    height: 50px;
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(150deg) brightness(104%) contrast(100%);
}
h2{
    color: white;
}
#dashLogo, h2, h3, .home{
    cursor: pointer;
}
.navContent{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 50px;
}
.home:hover{
    cursor: pointer;
    background-color: #001416;
    scale: 1.005;
}
#sideicon{
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(150deg) brightness(104%) contrast(100%);
}
.home{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 35px;
    padding-left: 20px;
    border-radius: 15px;
    transition: 0.2s;

}
h3{
    color: white;
    font-size: 20px;
}
.upper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lower{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mainContent{
    display: grid;
    grid-template-rows: 30% 70%;
}
.header{
    background-color: #AFDDE5;
    border-bottom:5px solid #638c94;
    display: flex;
    flex-direction: column;
}
.lowerContent{
    background-color: #964734;
}
.upperHeader{
    display: flex;
    gap: 10px;
}
#searchicon{
    height: 30px;
    width: 30px;
    filter:  invert(15%) sepia(13%) saturate(4754%) hue-rotate(145deg) brightness(96%) contrast(103%);
    cursor: pointer;
}
#searchicon:hover{
    scale: 1.1;
}
.search{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 20px;
    gap: 10px;
}
input{
    border: none;
    background-color:#c7715c;
    border-radius: 20px;
    height: 25px;
    width: 450px;
}
input:focus{
    scale: 1.05;
}
#bell{
    height: 30px;
    width: 30px;
    filter:  invert(15%) sepia(13%) saturate(4754%) hue-rotate(145deg) brightness(96%) contrast(103%);
    cursor: pointer;

}
#bell:hover{
    scale: 1.1;

}
#meme{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
#meme:hover{
    scale: 1.1;
}
.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
    padding-top: 20px;

}
h4{
    cursor: pointer;
}
#memelower{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;

}
.lowerHeader{
    display: flex;
    justify-content: space-between;
}
.leftlowerheader{
    display: flex;
    padding-left: 60px;
    padding-top: 50px;
}
.rightlowerheader{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 130px;
    padding-top: 50px;
}
button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #964734;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
button:hover{
    background-color: #6b3021;
}
.headertext{
    text-align: center;
    color: #964734;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
    cursor: pointer;
}
